GOOGLE_API_KEY=your key
# Choose Model Backend: 0 -> ML Dev, 1 -> Vertex
GOOGLE_GENAI_USE_VERTEXAI=True

# ML Dev backend config

# Vertex backend config
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=

WEATHER_REMOTE_MCP_SERVER_NAME=
PROJECT_NUMBER=
MCP_SERVER_URL=